<!DOCTYPE html>
<html>
<head>
	<title>
        Expihub
    </title>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Squada+One&family=Yantramanav:wght@300&display=swap" rel="stylesheet">       
	<link rel="stylesheet" type="text/css" href="./css/discussionforum.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 
</head>
<body style="background-image: url(images/background.jpg);">

    <!-- title -->
    <div class="jumbotron" style="background-image: linear-gradient(rgba(37,116,169, 0.8),rgba(0,0,0,0.5)),url('images/discussiontitle.jpeg');">
        <h1>DISCUSSION FORUM</h1>
        <p> People can log in to the site and read existing message and provide feedbacks.<br>  It’s a great way to share and exchange ideas</p>
    </div>

    <!-- cards -->
    <section id="cards">
        <div class="card " style="width:400px ">
            <h1 style="align-content:centre;font-family: 'Squada One', cursive; color: rgb(0, 0, 0);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ACADEMIC DISCUSSION FORUM</h1>
            <a href="/academicforum" class="btn-img btn-img-gradient" >
                <img class="card-img-top" src="images/academiccard.jpg" alt="Card image" >
            </a>
        </div>
        <div class="card " style="width:400px"> 
            <h1 style="align-content:centre;font-family: 'Squada One', cursive; color: rgb(0, 0, 0);  " >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GENERAL DISCUSSION FORUM</h1>
            <a href="/generalforum"  class="btn-img btn-img-gradient">
                <img class="card-img-top" src="images/generalcard.jpg" alt="Card image" >
            </a>
        </a>
            </div>
        </div>
    </section>
    
    

    <!-- scripts -->
    <script src="./javascript/discussionforum.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>    
</html>