<!DOCTYPE html>
<html>
<head>
	<title>Expihub Register Form</title>
	<link rel="stylesheet" type="text/css" href="../css/register_style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Link for logo in tab  -->
	<link rel="icon" type="image/png" href="../img/logonew.png">
</head>
<body>
	<img class="wave" src="../img/wave.png">
	<div class="container">
		<div class="img">
			<img src="../img/mobile_login.svg">
		</div>
		<div class="login-content">
			<form action="/register" method="POST">
				<img src="../img/female_avatarsvg.svg">
				<h2 class="title">Sign Up</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>First name</h5>
           		   		<input type="text"   name="firstName" class="input">
           		   </div>
           		</div>
                   <div class="input-div one">
                    <div class="i">
                            <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                            <h5>Last name</h5>
                            <input type="text"  name="lastName" class="input">
                    </div>
                 </div>
                 <div class="input-div one">
                    <div class="i">
                            <i class="fas fa-id-card"></i>
                    </div>
                    <div class="div">
                            <h5>CollegeId</h5>
                            <input type="text"  name="collegeId" class="input">
                    </div>
                 </div>

                 <div class="input-div one">
                    <div class="i">
                            <i class="fas fa-envelope"></i>
                    </div>
                    <div class="div">
                            <h5>College Email</h5>
                            <input type="email" name="email" class="input">
                    </div>
                 </div>

                 <div class="input-div one">
                    <div class="i">
                            <i class="fas fa-book"></i>
                    </div>
                    <div class="div">
                            <h5>Course</h5>
                            <input type="text"  name="course" class="input">
                    </div>
                 </div>
                 <div class="input-div one">
                    <div class="i">
                            <i class="fas fa-user-graduate"></i>
                    </div>
                    <div class="div">
                            <h5>Graduation Year</h5>
                            <input type="number" name="graduationYear" class="input">
                    </div>
                 </div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password"  name="password" class="input">
            	   </div>
            	</div>
                <div class="input-div pass">
                    <div class="i"> 
                         <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                         <h5>Repeat Password</h5>
                         <input type="password"  name="RepeatPassword" class="input">
                 </div>
              </div>
            	
            	<input type="submit" class="btn" value="Submit">
                <p class="mt-12 text-xs text-center font-light text-gray-400">Already Have An Account?<a href="/login" class="text-black font-medium"> Login </a>  </p> 
 
            </form>
           
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script type="text/javascript" src="../javascript/register_app.js"></script>
</body>
</html>
