<!DOCTYPE html>
<html>
<head>
	<title>
        Expihub
    </title>
</head>
<a href="../public/sidebar.html">dhnada</a>
<frameset rows="100%" id="homefull"> 
    <frameset cols="270px,*"> 
       <frame noresize name="side" src="../public/sidebar.html">
       <frame noresize name="main" > 
    </frameset>  
</frameset>     
</html>